<div class="main">
    <form class="box" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1>Reset password</h1>
        <input type="text" name="" placeholder="Username" (blur)="findUser()" formControlName="login">
        <input type="text" name="" placeholder="Full name" (blur)="checkFullName()" formControlName="fullName">
        <input type="password" name="" placeholder="New password" formControlName="password" [disabled]="!canBeUpdated">
        <input type="submit" name="" value="Reset">
    </form>
</div>