<div id="profile-edit-area">
    <div>
        <div id="edit-area-left">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <label for="file"><i class="fa-solid fa-cloud-arrow-up"></i></label>
                            <input type="file" name="file" id="file" class="profileInputBox avatar" (change)="onFileSelect($event)"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="edit-title">landing point:</td>
                        <td><input type="text" class="profileInputBox" [(ngModel)]="route.landingPoint"/></td>
                    </tr>
                    <tr>
                        <td class="edit-title">point of departure:</td>
                        <td><input type="text" class="profileInputBox" [(ngModel)]="route.pointOfDeparture" /></td>
                    </tr>
                    <tr>
                        <td class="edit-title">duration:</td>
                        <td><input type="text" class="profileInputBox" [(ngModel)]="route.duration" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div id="edit-area-right">
            <table>
                <tbody>
                    <tr>
                        <td class="edit-title">shipping datetime:</td>
                        <td><input type='datetime-local' class="form-control" [(ngModel)]="flight.shippingDatetime"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span></td>
                    </tr>
                </tbody>
            </table>
        </div> -->
    </div>
</div>

<div id="profile-edit-save">
    <button id="editSave" (click)="onSave()"><i class="fa-solid fa-floppy-disk"></i></button>
    <button id="editSave" (click)="onClose()"><i class="fa-solid fa-rectangle-xmark"></i></button>
</div>